.btn{
    cursor: pointer;
    display: inline-block;
    padding: 8px 24px;
    background: linear-gradient(224.78deg, #5390E3 8.12%, #1357B3 92.21%);
    border: 0;
    border-radius: 4px;
    color: $white-light;
    transition: .5s ease;
    @include typeface-2 (p3,desktop);

    &:hover{
        opacity: .7;
    }
}

a{
    cursor: pointer;
    text-decoration: none;
    color: $white-light;
    transition: .5s ease;
    @include typeface-2 (p3,desktop);

    &:hover{
        opacity: .7;
    }
}

ul{
    list-style: none;
}

input{
    accent-color: $primary-normal;

    &:focus{
        outline: 0;
        box-shadow: none;
    }
}

input, select, option, textarea{
    width: 100%;
    padding: 10px 12px;
    background-color: $black-light;
    color: $white-light;
    border: 0;
    border-radius: 4px;
    @include typeface-2 (p3, desktop);
}
select, option{
    height: 48px;
}

textarea{
    resize: none;
}

.btn-search{
    cursor: pointer;
    width: 56px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    background-image: url('../svg/icon-search.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $black-light;
    transform: translate3d(-6px, 0, 0);
}


